* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.account-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;

  font-size: 1rem;
  text-align: center;

  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

/* .account-texts {
} */

.acc-header {
  position: relative;
  top: 7vh;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.account-page-text {
  position: relative;
  top: 20vh;
  right: 10vw;
  color: #ffffff;
  font-family: "Comfortaa", cursive;
  width: 25%;
  font-weight: 300;
  font-size: 1.7rem;

  margin-left: auto;
}

.acbutton1 {
  position: relative;
  top: 2vh;
  background-color: #fbc78d;
  color: #2a3d4f;
  height: 50px;
  width: 200px;
  border-radius: 30px;

  margin: 0 auto;

  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 17px;
  border: 0;
  cursor: pointer;

  &:hover {
    background: #7777aa;
    transition: all 0.5s;
    border-radius: 30px;
    //box-shadow: 0px 6px 15px #dbdbeb61;
    //padding: 1.5rem 1.5rem 1.5rem 3rem;
    color: #ffffff;
  }
}

.image-account-page {
  position: absolute;
  margin: 0 auto;

  width: 100%;
  height: 100%;

  object-fit: cover;

  object-position: 50% 20%;
}

/*<------------------------------------>*/

/* Responsiveness section */

@media (max-width: 4500px) {
}

@media (max-width: 1200px) {
  .acc-header {
    font-size: 2.5rem;
  }
}

@media (max-width: 960px) {
  .acc-header {
    font-size: 2rem;
  }

  .account-page-text {
    top: 30vh;
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .image-account-page {
    height: 120%;
    object-fit: cover;

  }

  .acc-header {
    font-size: 1.7rem;
    top: 20vh;
  }

  .account-page-text {
    top: 35vh;
    right: 25vw;
    width: 50%;
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  .acc-header {
    font-size: 1.5rem;
  }

  .account-page-text {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .acbutton1 {
    width: 150px;
  }

  .acc-header {
    font-size: 1.3rem;
  }

  .account-page-text {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .acbutton1 {
    width: 120px;
  }

  .acc-header {
    top: 25vh;

    font-size: 1.1rem;
  }

  .account-page-text {
    font-size: 0.8rem;
  }
}







/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 2000px) {
}

@media (max-height: 800px) {

  .image-account-page{
    height: 130%;
  }
  .acc-header{
    font-size: 1.7rem;
    top: 150px;

  }

  .account-page-text{
    top: 200px;
    font-size: 1.2rem;
  }

}

@media (max-height: 700px){

  .acc-header{
    font-size: 1.5rem;
    top: 150px;

  }


    .account-page-text{
    
  }

}

@media (max-height: 600px) {





  .acc-header{
    
    top: 150px;
    font-size: 1.2rem;
  }


    .account-page-text{
    top: 180px;
  }

  .acbutton1 {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}




@media (max-height: 500px) {

  .acc-header{
    font-size: 1rem;
 

  }

  .account-page-text{
    font-size: 0.8rem;
  }



}

@media (max-height: 450px) {
  .image-account-page{
    height: 150%;
  }


}

@media (max-height: 320px) {
  .image-account-page{
    height: 150%;
  }

  .acc-header{
    font-size: 0.8rem;
 

  }

  .account-page-text{
    font-size: 0.7rem;
  }

}


/* Combined Responsiveness */





/*@media screen and (max-width: 360px), 
       screen and (max-height: 600px) {

        .acc-header{
          font-size: 0.8rem;
       
      
        }
      
        .account-page-text{
          font-size: 0.8rem;
        }

        .image-account-page{
          height: 100%;
        }
  }
  */

