* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bank-priorities {
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  color: grey;
  width: 100%;
  height: 95vh;
  text-align: center;
  align-items: center;
}

.section-image1 {
  width: 40%;
  height: 95%;
  object-fit: cover;
}

div.bppflex {
  position: relative;
  left: 15vw;
  justify-content: space-between;
  width: 30vw;
  text-align: right;
}

.bpph1 {
  color: #2a3d4f;
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap");
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 4.08rem;
}

.bppp1 {
  text-align: right;
  color: #2a3d4f;
  font-family: "Lora", serif;
  font-size: 1.4rem;
}

.sectionButton1 {
  position: relative;
  top: 10vh;
  background-color: #fbc78d;
  color: #2a3d4f;
  height: 50px;
  width: 250px;
  border-radius: 30px;

  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 17px;
  border: 0;
  cursor: pointer;

  &:hover {
    background: #7777aa;
    transition: all 0.5s;
    border-radius: 30px;
    box-shadow: 0px 6px 15px #dbdbeb61;
    //padding: 1.5rem 1.5rem 1.5rem 3rem;
    color: #ffffff;
  }
}

/*<------------------------------------>*/

/* Responsiveness section */

@media (max-width: 4500px) {
}

@media (max-width: 2000px) {
  div.bppflex {
    left: 20vw;
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .bpph1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 960px) {
  div.bppflex {
    width: 40%;
    left: 10vw;
  }
}

@media (max-width: 768px) {
  .sectionButton1 {
    width: 120px;
    height: 40px;
    top: 3vh;
    font-size: 13px;
  }

  .bank-priorities {
    height: 50vh;
  }

  .bpph1 {
    font-size: 2.7rem;
  }

  .bppp1 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {

  .sectionButton1 {
    width: 100px;
  
  }


  .bpph1 {
    font-size: 1.8rem;
  }


}

@media (max-width: 320px) {
  .sectionButton1 {
  
    font-size: 0.8rem;
  }
}

@media (max-width: 200px) {
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 2000px) {
}

@media (max-height: 800px) {
}

@media (max-height: 600px) {

  .bank-priorities{
    height: 60vh;
  }

  .sectionButton1 {
    width: 150px;
    height: 30px;
    font-size: 13px;
  
  }

  .bpph1 {
    font-size: 1.5rem;
  }

  .bppp1 {
    font-size: 0.9rem;
  }

}

@media (max-height: 500px) {
}

@media (max-height: 400px) {

  .sectionButton1 {
    width: 120px;
    height: 25px;
    
  
  }

  .bpph1 {
    font-size: 1.2rem;
  }

  .bppp1 {
    font-size: 0.8rem;
  }
}

@media (max-height: 320px) {
}
