* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.credit-cards {
  display: flex;
  justify-content: right;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  color: grey;
  width: 100%;
  height: 95vh;
  text-align: center;
  align-items: center;
}

.section-image2 {
  width: 40%;
  height: 95%;
  object-fit: cover;
}

div.bppflex2 {
  position: relative;
  right: 15vw;
  justify-content: space-between;
  width: 30vw;
  text-align: left;
 
}

.bpph2 {
  color: #2a3d4f;
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap");
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 4.08rem;
}

.bppp2 {
  text-align: left;
  margin-right: 0 auto;
  color: #2a3d4f;
  font-family: "Lora", serif;
  font-size: 1.4rem;
}

.sectionButton2 {
  position: relative;
  top: 10vh;
  background-color: #fbc78d;
  color: #2a3d4f;
  height: 50px;
  width: 250px;
  border-radius: 30px;


  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 17px;
  border: 0;
  cursor: pointer;

  &:hover {
    background: #7777aa;
    transition: all 0.5s;
    border-radius: 30px;
    box-shadow: 0px 6px 15px #dbdbeb61;
    //padding: 1.5rem 1.5rem 1.5rem 3rem;
    color: #ffffff;
  }
}




/*<------------------------------------>*/

/* Responsiveness section */









@media (max-width: 4500px) {
  div.bppflex2 {
  }
}

@media (max-width: 2000px) {
  div.bppflex2 {
    right: 20vw;
  }
  .bpph2 {
  }

  .bppp2 {
  }
}

@media screen and (max-width: 1400px) {
  div.bppflex2 {
  }

  .bpph2 {
  }

  .bppp2 {
  }
}

@media (max-width: 1200px) {

  div.bppflex2 {
  }
  .bpph2 {
  }

  .bppp2 {
  }
}

@media (max-width: 1024px) {
  div.bppflex2 {
  }
  .bpph2 {
    font-size: 3.5rem;
  }

  .bppp2 {
  }
}

@media (max-width: 960px) {
  div.bppflex2 {
    width: 40%;
    right: 10vw;
  }
}

@media (max-width: 768px) {

  .sectionButton2 {
    width: 150px;
    top: 3vh;
  }

  .credit-cards{
    height: 50vh;
  }

  
  div.bppflex2 {
  }
  .bpph2 {
    font-size: 2.7rem;
  }

  .bppp2 {
  }

  .section-image2{
   
  }
}

@media (max-width: 480px) {
  .sectionButton2 {
    width: 150px;
  }

  div.bppflex2 {

  }
  .bpph2 {
    font-size: 1.8rem;
  }

  .bppp2 {
   
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .sectionButton2 {
    width: 110px;
    font-size: 0.8rem;
  }
}

@media (max-width: 200px) {
}
