* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.investment-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140vh;
  margin: 5rem auto;
  padding: 20px;
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;

  color: rgb(0, 0, 0);
  /*  background-color: #b5e5cf; */
  background-color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.image-investment-page {
  position: absolute;
  margin: 0 auto;
  width: 97%;
  height: 65%;
  object-fit: cover;
  object-position: 0% 85%;
  border-radius: 5px;
}

.investment-page-banner-header {
  position: relative;
  top: 7vh;
  left: 5vw;
  width: 30%;

  text-align: left;
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
}

.investment-page-texts {
  position: relative;
  top: 30vh;
}

.investment-page-text {
  width: 50%;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0 auto;
  color: #2a3d4f;
}

.investment-page-text-h1 {
  width: 50%;

  font-size: 3rem;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 4vh;
  color: #2a3d4f;
}

.ip-button {
  position: relative;
  margin: 0 auto;
  height: 10vh;
  top: 7vh;
}

.image-investment-logo {
  margin-top: 5vh;
  width: 6%;
}

/*<------------------------------------>*/

/* Responsiveness section */

@media (max-width: 4500px) {
  .ip-button {
    width: 200px;
    height: 50px;
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .image-investment-logo {
    width: 8%;
  }

  .image-investment-page {
    left: 1vw;
  }
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
  .image-investment-page {
    top: 215px;
    object-position: 50% 30%;
  }

  .investment-page-text {
    font-size: 1.4rem;
  }

  .investment-page-text-h1 {
    font-size: 2.1rem;
  }

  .investment-page-banner-header {
    top: 19vh;
    font-size: 1.2rem;
  }

  .investment-page-texts {
    top: 40vh;
  }

  .image-investment-logo {
    width: 10%;
  }
}

@media (max-width: 600px) {
  .investment-page-banner-header {
    font-size: 1.2rem;
    width: 60%;
  }

  .investment-page-text-h1 {
    font-size: 1.8rem;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .investment-page-banner-header {
    top: 25vh;
    font-size: 1rem;
  }

  .investment-page-text {
    font-size: 1.1rem;
  }

  .image-investment-logo {
    width: 13%;
  }

  .ip-button {
    width: 100px;
    height: 50px;
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .image-investment-logo {
    width: 16%;
  }

  .investment-page-banner-header {
    font-size: 0.8rem;
  }

  .investment-page-text {
    font-size: 0.9rem;
  }

  .investment-page-text-h1 {
    font-size: 1.3rem;
  }

  .ip-button {
    width: 80px;
    height: 40px;
    font-size: 13px;
  }
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 2000px) {
}

@media (max-height: 800px) {
}

@media (max-height: 600px) {
}

@media (max-height: 500px) {
}

@media (max-height: 450px) {
}

@media (max-height: 320px) {
}
