* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loan-page {
  width: 100%;
  height: 100vh;
  margin: 5rem auto;
  padding: 20px;
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;

  color: rgb(0, 0, 0);
  /*  background-color: #b5e5cf; */
  background-color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
