* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loan {
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  color: grey;
  width: 100%;
  height: 95vh;
  text-align: center;
  align-items: center;
}


@media (max-width: 768px){
  .loan{
    height: 50vh;
  }

}
