* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loan-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 5rem auto;
  padding: 20px;
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #2a3d4f;
  background-color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.loan-container {
  position: relative;
  margin-right: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.image-loan-page {
  width: 40%;
  border-radius: 5px;
  object-fit: cover;
}

.loan-page-text {
  display: flex;
  align-items: center;

  width: 70%;
  font-size: 2.1rem;
  font-weight: 800;
}

.lp-button {
  position: relative;
  top: 80%;
  right: 30%;
}

.loan-text1 {
  margin-top: 3vh;
  text-align: right;
}

.loan-text2 {
  position: relative;
  top: 1%;
  text-align: left;
}

/*<------------------------------------>*/

/* Responsiveness section */

@media (max-width: 4500px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 960px) {
  .loan-page-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .loan-container {
    position: relative;
    top: 115px;
  }

  .loan-page-text {
    font-size: 1.3rem;
  }

  .loan-text1 {
    width: 50%;
    margin-left: auto;
  }

  .lp-button {
    top: 90%;
  }
}

@media (max-width: 600px) {
  .loan-page {
    height: 60vh;
  }

  .loan-page-text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .loan-page-text {
    font-size: 0.7rem;
  }

  .lp-button {
    top: 100%;
    width: 150px;
    height: 30px;
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .lp-button {
    top: 120%;
    left: 1vw;
    width: 150px;
    height: 30px;
    font-size: 0.8rem;
  }
}

/* <------------------------------> */

/* Height Responsiveness */

@media (max-height: 2000px) {
}

@media (max-height: 800px) {
}

@media (max-height: 600px) {
}

@media (max-height: 500px) {
}

@media (max-height: 450px) {
}

@media (max-height: 320px) {
}
