* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120vh;
  margin: 5rem auto;
  padding: 20px;
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;

  color: rgb(0, 0, 0);
  /*  background-color: #b5e5cf; */
  background-color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #ffffff;
}

.banner-3 {
  display: flex;
  flex-direction: row;

  

  width: 100%;
  height: 30%;
  margin: 0 auto;
 

  margin-top: 15px;
}

.bank-priorities-banner-header {
  position: relative;
  top: 25vh;
  margin: 0 auto;
  font-size: 5rem;

  color: #ffffff;
}




.image-bank-priorities{
  position: absolute;
  margin: 0 auto;
  width: 97%;
  height: 40%;
  object-fit: cover;
  object-position: 0% 70%;
  border-radius: 5px;


}

.bank-priorities-texts{
  margin: 0 auto;
  width: 60%;
  margin-top: 25vh;
  text-align: center;
  color: #2a3d4f;
}

.bank-priorities-bold-text{
  text-align: center;
  color: #2a3d4f;
}

.bp-button{
  margin: 0 auto;
  margin-top: 5vh;
  height: 10vh;

}