* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #ffffff;
  align-items: center;
  color: rgb(70, 70, 70);
  z-index: 2;
  opacity: 0.9;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-list {
  list-style: none;
  display: flex;
  width: 50%;
  font-size: 1rem;
  margin: 0 auto;
  justify-content: space-around;

  li a {
    text-decoration: none;
    color: #2a3d4f;
    padding: 10px;
  }

  .active {
    font-weight: 700;
  }
}

a.button-link {
  color: #1d1d1d;

  width: 50px;
  height: 50px;
}

.button-link {
  text-decoration: none;
  color: white;
  margin-top: 0;
}

a.nav-link:hover {
  color: #535353;
  border-radius: 30px;
  width: 50px;
  height: 50px;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 15px #69697061;
}
.button-nav-login {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: #fbc78d;
  color: #2a3d4f;
  cursor: pointer;
  font-size: 0.8em;

  border: 0;
  transition: all 0.5s;
  border-radius: 30px;
  position: relative;
  width: 120px;
  height: 48px;

  &:hover {
    background: #7777aa;
    transition: all 0.5s;
    border-radius: 30px;
    //box-shadow: 0px 6px 15px #dbdbeb61;
    //padding: 1.5rem 1.5rem 0rem 1.5rem;
    color: #ffffff;
  }
}

.button-nav-signup {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: #fbc78d;
  color: #2a3d4f;
  cursor: pointer;
  font-size: 0.8em;

  border: 0;

  border-radius: 30px;

  width: 120px;
  height: 48px;

  &:hover {
    background: #7777aa;
    transition: all 0.5s;
    border-radius: 30px;
    //box-shadow: 0px 6px 15px #dbdbeb61;
    //padding: 1.5rem 1.5rem 1.5rem 3rem;
    color: #ffffff;
  }
}

.button-nav-logout {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: #fbc78d;
  color: #2a3d4f;
  cursor: pointer;
  font-size: 0.8em;
  padding: 1rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 30px;
  position: relative;
  width: 140px;
  height: 48px;

  &:hover {
    background: #7777aa;
    transition: all 0.5s;
    border-radius: 30px;
    //box-shadow: 0px 6px 15px #dbdbeb61;
    //padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    color: #ffffff;
  }
}

.nav-buttons-section {
  position: relative;

  list-style: none;
  display: flex;
  width: 17%;
  font-size: 1rem;

  justify-content: space-around;
}

.bank-logo-section {
  width: 17%;
}

.bank-logo {
  max-height: 100px;
  width: 20px;
  text-decoration: none;
  color: rgb(65, 65, 65);
}

img.nav-logo-img {
  margin-left: 10px;
  margin-top: 10px;
  height: 60px;
  width: 60px;
}

.toggle:checked {
  width: 20%;
  display: block;
}

.hamburger {
  position: relative;

  width: 5%;
  font-size: 25px;
  display: none;
  position: relative;
  right: 10vw;

  width: 30%;
}

.hamburger-container {
  position: fixed;
  top: 0;
  left: 30vw;
  z-index: 3;
  

  
}

#toggle {
  display: none;
}

/* Responsiveness section */

@media (max-width: 4500px) {
  .nav-buttons-section {
    position: relative;
    right: 5vw;
    gap: 1vw;
  }

  .nav-list li a {
    font-size: 0.8rem;
  }
}

@media (max-width: 2000px) {
  .nav-list li a {
    font-size: 0.7rem;
  }
}

@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
  .button-nav-login {
    font-size: 0.6em;

    width: 70px;
    height: 42px;
  }

  .button-nav-signup {
    font-size: 0.6em;
    width: 70px;
    height: 42px;
  }

  .button-nav-logout {
    font-size: 0.6em;
    width: 70px;
    height: 48px;
  }
  .nav-list li a {
    font-size: 0.6rem;
  }
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {

  .hamburger-container {
    position: fixed;
    top: 3vh;
    left: 100vw;
    z-index: 3;
    
    
  
    
  }
  .hamburger {
    display: flex;
    
    width: 3vw;
    font-size: 30px;
    font-weight: bold;    
  
    text-shadow: rgba(0, 0, 0, 0.41) 0px 5px 15px;
 

   
   
  
    cursor: pointer;
    color: #2a3d4f;
  
  }
  .nav {
    height: 200px;
    opacity: 0.9;
  }

  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 0.8rem;
    margin: 0 auto;
   
    justify-content: space-around;
    text-align: center;
    gap: 5px;
  }

  .nav-buttons-section {
    display: flex;
    flex-direction: column;
    top: 2.5vh;
    right: 10vw;
    gap: 1vw;
  }

  .button-nav-signup {
    height: 30px;
  }

  .button-nav-login {
    height: 30px;
  }

  .nav-list-hide {
    display: none;
  }



  a.nav-link:hover {
    color: #535353;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 15px #69697061;
  }
}
@media (max-width: 480px) {

  .button-nav-signup {
    width: 56px;
  }

  .button-nav-login {
    width: 56px;
    
  }
}
@media (max-width: 320px) {
}
@media (max-width: 200px) {
}
