* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile-page {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
 
  padding: 20px;
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;

  color: rgb(0, 0, 0);
  /*  background-color: #b5e5cf; */
  background-color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.account-number p {
  position: relative;
  top: 5vh;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  color: #2a3d4f;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 50%;
  text-align: right;
}

.profile-greeting {

  position: relative;
  margin: 0 auto;
  color: #2a3d4f;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.total-balance-text {
  margin-top: 20px;
  color: #2a3d4f;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.account-balance {
  position: relative;
  color: #2a3d4f;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;

  font-weight: 900;
  font-size: 2rem;
}

.text-and-button {
  position: relative;
  left: 17vw;
  display: flex;
  flex-direction: row;

  width: 30%;
}


.transaction-history{
  position: relative;
  top: 15vh;
}

.t-history-text {
  position: relative;
  top: 5vh;
  
  color: #2a3d4f;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

.t-history-button {
  position: relative;
  top: 5vh;
  width: 130px;
  height: 30px;

  border: 0;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: #2a3d4f;
}

.t-history-button:hover {
  color: #535353;
  border-radius: 30px;
  width: 130px;
  height: 30px;
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 15px #69697061;
  color: #2a3d4f;
}

.acc-user-data {
  position: relative;
  top: 15vh;
  margin: 0 auto;
  color: #2a3d4f;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
 
  width: 30%;
}

.history-transfer-button {
  position: relative;
  top: 15vh;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: #fbc78d;
  color: #2a3d4f;
  cursor: pointer;
  font-size: 0.8em;
  padding: 1rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 30px;
  position: relative;
  width: 140px;
  height: 48px;
  margin: 0 auto;
  margin-top: 20px;
  text-decoration: none;

  &:hover {
    background: #7777aa;
    transition: all 0.5s;
    border-radius: 30px;
    //box-shadow: 0px 6px 15px #dbdbeb61;
    //padding: 1.5rem 1.5rem 0rem 1.5rem;
    color: #ffffff;
  }
}

.transaction-block-to {
  
  display: flex;
  
  background-color: #ffffff;
  width: 70%;
  height: 80px;
  margin: 0 auto;
  border-radius: 30px;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.transaction-block-from {
  display: flex;
  
  background-color: #ffffff;
  width: 70%;
  height: 80px;
  margin: 0 auto;
  border-radius: 30px;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.transactions-list {
  margin-top: 50px;
}

.arrow-image-green {
  padding: 20px;
}

.received-funds {

  position: relative;
  top: 30%;
 
 
  text-align: right;
  margin-right: 1vw;
  font-size: 1rem;  
  color: #2a3d4f;
  width: 30%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.sent-funds {
  position: relative;
  top: 30%;
  text-align: right;
  margin-right: 1vw;

  font-size: 1rem;
  color: #939aa0;
  width: 30%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.transaction-person {
  position: relative;
  top: 30%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height: 20px;
  color: #2a3d4f;
  width: 30%;
  font-size: 1.1rem;
}

.transaction-date {
  position: relative;
  top: 30%;


  width: 30%;
  text-align: left;

  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #2a3d4f;
  font-size: 0.9rem;
}

.to-profile-button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: #fbc78d;
  color: #2a3d4f;
  cursor: pointer;
  font-size: 0.8em;
  padding: 1rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 30px;
  position: relative;
  width: 140px;
  height: 48px;
  margin: 0 auto;
  margin-top: 20px;
  text-decoration: none;

  &:hover {
    background: #7777aa;
    transition: all 0.5s;
    border-radius: 30px;
    //box-shadow: 0px 6px 15px #dbdbeb61;
    //padding: 1.5rem 1.5rem 0rem 1.5rem;
    color: #ffffff;
  }
}



/*<------------------------------------>*/

/* Responsiveness section */

@media (max-width: 4500px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 960px) {
  .acc-user-data{
    width: 60%;
  }
}

@media (max-width: 768px) {

  .profile-page{
      top: 25vh;

  }
  .account-number p{
    text-align: center;
    width: 50%;
    top: 10vh;
    margin: 0 auto;
  }

  .account-balance{
    font-size: 1.6rem;
    
  }

  .transaction-person{
    font-size: 0.8rem;
  }

  .transaction-date{
    font-size: 0.8rem;
  }

  .received-funds{
    font-size: 0.8rem;

  }

  .sent-funds{
    font-size: 0.8rem;

  }

  .text-and-button{
    width: 60%;
    margin: 0 auto;
    left: 0;
  }

  .t-history-button{
    position: relative;
  
    margin: 0 auto;
  }



}

@media (max-width: 600px) {



  .t-history-button{
    position: relative;
    top: 7vh;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {



  .account-balance{

   
  

  }



  .t-history-text{
    font-size: 1rem;
  }

  .transaction-block-from{
    width: 90%;
    height: 100px;
  }

  .transaction-block-to{
    width: 90%;
    height: 100px;

  }

  .transaction-person{
    font-size: 0.7rem;
  }

  .transaction-date{
    font-size: 0.7rem;
  }

  .received-funds{
    font-size: 0.7rem;

  }

  .sent-funds{
    font-size: 0.7rem;

  }


}

@media (max-width: 320px) {

  .transaction-block-from{
    width: 95%;
    height: 120px;
  }

  .transaction-block-to{
    width: 95%;
    height: 120px;

  }

}