* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.transfer-page {
  width: 100%;
  height: 80vh;

  padding: 20px;
  //padding-top: 1rem;
  font-size: 1rem;
  text-align: center;

  color: rgb(0, 0, 0);
  /*  background-color: #b5e5cf; */
  background-color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.send-money-card {
  position: relative;
  top: 15vh;
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 60vh;
  margin: 0 auto;
  border-radius: 30px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
}

.money-card-data1 {
  position: relative;
  display: flex;
  flex-direction: column;

  text-align: left;
  gap: 5vh;
  width: 50%;
  height: 50%;
}

.money-card-data2 {
  position: relative;
  top: 4vh;
  display: flex;
  flex-direction: column;

  float: left;
  gap: 5vh;
  width: 50%;
  height: 50%;
}

.send-money-button {
  position: absolute;
  top: 45vh;
  left: -5vw;

  margin-bottom: 3vh;
  

  width: 140px;
  height: 48px;

  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: #fbc78d;
  color: #2a3d4f;
  cursor: pointer;
  font-size: 0.8em;

  border: 0;
  transition: all 0.5s;
  border-radius: 30px;


 

  text-decoration: none;

  &:hover {
    background: #7777aa;
    transition: all 0.5s;
    border-radius: 30px;
    //box-shadow: 0px 6px 15px #dbdbeb61;
    //padding: 1.5rem 1.5rem 0rem 1.5rem;
    color: #ffffff;
  }
}

input.money-card-input {
  text-align: left;
  width: 200%;

  color: #2a3d4f;
  background-color: #fbc78dde;
  font-family: "Poppins", sans-serif;
  padding-left: 30px;
  border: 0;
  outline: 0;

  height: 3vh;
  border-radius: 30px;
  content: "Text";
  opacity: 0.8;
}

.money-card-user-accountnumber {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #2a3d4f;
  font-weight: 500;
  text-align: left;

  width: 100%;
  border: 0;
}

.money-card-text {
  position: relative;
  top: 5vh;
  text-align: left;
  font-size: 1.2rem;
 
  color: #2a3d4f;
}

.money-card-user-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #2a3d4f;
  font-weight: 500;
  text-align: left;

  width: 100%;
}

.label-block {
  text-align: left;
  margin-left: 0;
}

.transaction-complited-text {
  margin-top: -35px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #2a3d4f;
}



/*<------------------------------------>*/

/* Responsiveness section */

@media (max-width: 4500px) {
}

@media (max-width: 1200px) {
  .money-card-user-accountnumber{
    font-size: 0.9rem;
  }

  .money-card-user-text{
    font-size: 1rem;
  }
}

@media (max-width: 960px) {

}

@media (max-width: 768px) {
  .send-money-card{
    width: 80%;
  }

  .money-card-text{
    font-size: 0.9rem;
  }


}

@media (max-width: 600px) {

}

@media (max-width: 480px) {








}

@media (max-width: 320px) {



}